
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0rem;
}

.btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.831);
  background: transparent;
  color: rgba(255, 255, 255, 0.818);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: rgb(255, 255, 255);
  transition: 1s;
  color: black;
}